.t0 {
	background-image: url(image-0.png);
}

.t1:hover {
	background-image: url(image-1.png);
}

.t2:active {
	background-image: url(image-2.png);
}

.t3:focus {
	background-image: url(image-3.png);
}

.t4:checked {
	background-image: url(image-4.png);
}

.t5:hover {
	background-image: url(../test-resources/image-5.png);
}

.t6:active {
	background-image: url(../test-resources/image-6.png);
}

.t7:focus {
	background-image: url(/autopreload/test/test-resources/image-7.png);
}

.t8:checked {
	background-image: url(http://localhost/autopreload/test/test-resources/image-8.png);
}

.t9:hover {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVQImWNgAAAAAgAB9HFkpgAAAABJRU5ErkJggg==);
}

.t10:hover {
	background: url(image-10.png);
}

.t11:active {
	background: url(image-11.png);
}

.t12:focus {
	background: url(../test-resources/image-12.png);
}

.t13:checked {
	background: url(image-13.png);
}

.t14 {
	background-image: url(image-14.png);
}

.t15 {
	background-image: url(image-15.png);
}

.t16 {
	background-image: url(image-16.png);
}


@media screen and (min-width: 0px) {
	
	.t17:hover {
		background-image: url(image-17.png);
	}

}
